<h1 mat-dialog-title>Изменить пароль</h1>
<div mat-dialog-content [formGroup]="form">
    <p>Введите новый пароль, он должен содержать не менее 6 любых символов</p>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Подтвердите пароль</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        <mat-error *ngIf="form.hasError('mismatch')">Пароли не совпадают</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onCancel()">Отмена</button>
    <button mat-flat-button color="warn" (click)="onSave()" [disabled]="form.invalid">Отправить</button>
</div>