/* src/app/app.component.scss */
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; // Pushes footer down
    width: 100%;
    max-width: 100%; // Rubber width
    padding: 0; // Remove padding here, let child components handle it
    overflow-x: hidden;
}