# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml.override

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE
.idea/
.vscode/

# Other
*.log
local_settings.py
db.sqlite3
*.swp
