# Django Settings
# ВНИМАНИЕ: Для продакшена измените DEBUG на False и задайте ALLOWED_HOSTS
DEBUG=True
# Пример: ALLOWED_HOSTS=brio-trade.ru,www.brio-trade.ru
ALLOWED_HOSTS=*
SECRET_KEY='django-insecure-example-key-change-me-in-production'
CORS_ALLOW_ALL_ORIGINS=True
# Пример для продакшена: CORS_ALLOWED_ORIGINS=https://brio-trade.ru,http://localhost:4200
# URL-адреса, с которых разрешены CSRF-запросы (необходимо при использовании Nginx)
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# Database Settings
POSTGRES_DB=brio_db
POSTGRES_USER=brio_user
POSTGRES_PASSWORD=brio_password
DATABASE_URL=postgres://brio_user:brio_password@db:5432/brio_db
