@import "../_auth-shared.scss";

// Дополнительный текст-пояснение
.auth-info {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 32px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

// Переопределяем кнопку, чтобы она была меньше
.btn-primary {
    max-width: 180px;
    margin: 0 auto;
}