<div class="auth-container">
    <div class="auth-form-wrapper">
        <div class="logo-container">
            <img src="assets/logo.svg" alt="PRO TRADE & LOGISTIC">
        </div>
        <div class="auth-form text-center">
            <h1 class="auth-title">Успешное восстановление пароля</h1>
            <p class="auth-subtitle">Новый пароль отправлен на <strong>{{ userEmail }}</strong></p>
            <p class="auth-info">На указанную почту отправлена инструкция по смене пароля</p>
            <button type="button" class="btn btn-primary" routerLink="/login">ВОЙТИ</button>
        </div>
    </div>
    <div class="auth-image-wrapper">
        <!-- Изображение сбоку -->
    </div>
</div>