.admin-panel-container {

    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
    overflow: hidden;

    // Убираем padding для роутера, чтобы дочерние компоненты
    // управляли своим собственным spacing
    ::ng-deep router-outlet {
        display: none;
    }

    // Стили для дочерних компонентов
    ::ng-deep app-table {
        display: block;
        height: 100%;

    }

    ::ng-deep app-users-table {
        display: block;
        height: 100%;
        padding: 24px;
    }
}