<h1 mat-dialog-title class="dialog-title">
    <mat-icon class="warning-icon">warning_amber</mat-icon>
    {{ data.title }}
</h1>

<div mat-dialog-content class="dialog-content">
    <p class="dialog-message">{{ data.message }}</p>
    <p class="dialog-subtext">Это действие нельзя будет отменить.</p>
</div>

<div mat-dialog-actions align="end" class="dialog-actions">
    <button mat-stroked-button class="btn-cancel" (click)="onCancel()">
        {{ 'DIALOGS.CANCEL_BUTTON' | translate }}
    </button>
    <button mat-flat-button class="btn-delete" [mat-dialog-close]="true" cdkFocusInitial>
        {{ 'PRODUCTS.DELETE' | translate }}
    </button>
</div>