<h1 mat-dialog-title>Добавить новую колонку</h1>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Название колонки</mat-label>
        <input matInput formControlName="name" cdkFocusInitial>
        <mat-error *ngIf="form.get('name')?.hasError('required')">
            Название не может быть пустым.
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onCancel()">Отмена</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">Добавить</button>
</div>