<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'DIALOGS.COLUMN_NAME' | translate }}</mat-label>
        <input matInput formControlName="name" cdkFocusInitial>

        <mat-error *ngIf="form.get('name')?.hasError('required')">
            {{ 'VALIDATION.REQUIRED_FIELD' | translate }}
        </mat-error>
    </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onCancel()">{{ 'DIALOGS.CANCEL_BUTTON' | translate }}</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">{{ 'PRODUCTS.ADD_COLUMN' |
        translate }}</button>
</div>