// styles.scss
@import '@angular/material/prebuilt-themes/indigo-pink.css'; // Или ваша тема

:root {
  --primary-red: #D91F26;
  --primary-black: #1A1A1A;
  --text-dark: #333333;
  --text-grey: #808080;
  --bg-light: #F9F9F9;
  --border-color: #E0E0E0;
  --white: #FFFFFF;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--text-dark);
  margin: 0;
}

// Сброс отступов для Material кнопок, чтобы они выглядели как на макете
.mat-mdc-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button {
  letter-spacing: normal !important;
  font-weight: 500 !important;
}