<mat-sidenav-container class="page-container">

    <!-- Компонент боковой панели (сам управляет своим состоянием) -->
    <mat-sidenav #filterSidenav mode="over" position="end" class="filter-sidenav">
        <app-filter-form [form]="filterForm" (apply)="applySideNavFilters()" (reset)="resetSideNavFilters()">
        </app-filter-form>
    </mat-sidenav>

    <!-- Основной контент -->
    <mat-sidenav-content>
        <div class="table-page-container">

            <!-- Компонент шапки -->
            <app-page-header (importClick)="openImportDialog()" (addColumnClick)="addColumn()">
            </app-page-header>

            <app-table-controls [allColumns]="allColumns" [columnsForm]="columnsForm"
                [activeFilterCount]="activeFilterCount" [appliedFilters]="appliedFilters"
                [selectionHasValue]="selection.hasValue()" [selectionCount]="selection.selected.length"
                [isBulkEditMode]="isBulkEditMode" (globalFilterChange)="applyGlobalFilter($event)"
                (toggleFilter)="filterSidenav.toggle()" (applyColumnChanges)="applyColumnChanges()"
                (removeFilter)="onRemoveFilter($event)" (editClick)="onEditClick()" (saveClick)="onSaveBulkChanges()"
                (cancelClick)="onCancelBulkEdit()" (deleteClick)="onDeleteSelected()">
            </app-table-controls>

            <!-- Компонент таблицы -->
            <app-products-table [dataSource]="dataSource" [selection]="selection" [allColumns]="allColumns"
                [isBulkEditMode]="isBulkEditMode" [columnsToRender]="columnsToRender" [isAllSelected]="isAllSelected()"
                (sortChange)="setSort($event)" (removeColumnClick)="removeColumn($event.columnId, $event.event)"
                (photoViewerClick)="openPhotoViewer($event)" (masterToggleClick)="masterToggle()"
                (rowToggleClick)="selection.toggle($event)">
            </app-products-table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>