<h1 mat-dialog-title>{{ 'DIALOGS.CHANGE_EMAIL_TITLE' | translate }}</h1>
<div mat-dialog-content [formGroup]="form">
    <p>{{ 'DIALOGS.CHANGE_EMAIL_INSTRUCTION' | translate }}</p>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>{{ 'USERS_TABLE.COLUMNS.EMAIL' | translate }}</mat-label>
        <input matInput formControlName="newEmail" cdkFocusInitial>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onCancel()">
        {{ 'DIALOGS.CANCEL_BUTTON' | translate }}
    </button>
    <button mat-flat-button color="warn" (click)="onSave()" [disabled]="form.invalid">
        {{ 'DIALOGS.SEND_BUTTON' | translate }}
    </button>
</div>